name: Build Test Application

on:
  workflow_call: {}
  workflow_dispatch: {}

jobs:
  build:
    name: Build (${{ matrix.app_name }} / ${{ matrix.espidf_target }})
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        espidf_target: [esp32s3]
        app_name: [test_evt_bus]   # adjust to what exists in apps/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Ensure submodules are present
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive
          test -d externals/embedded_evt_bus/ports/esp-idf/evt_bus

      - name: Build with ESP-IDF
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: "latest"
          target: ${{ matrix.espidf_target }}
          path: "."
          command: >
            idf.py -DAPP_NAME=${{ matrix.app_name }}
            -B build_${{ matrix.app_name }}_${{ matrix.espidf_target }}
            build

      - name: Upload artifacts
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.app_name }}-${{ matrix.espidf_target }}
          path: |
            build_${{ matrix.app_name }}_${{ matrix.espidf_target }}/fw.bin
            build_${{ matrix.app_name }}_${{ matrix.espidf_target }}/bootloader/bootloader.bin
            build_${{ matrix.app_name }}_${{ matrix.espidf_target }}/partition_table/partition-table.bin
            build_${{ matrix.app_name }}_${{ matrix.espidf_target }}/flash_args
            build_${{ matrix.app_name }}_${{ matrix.espidf_target }}/sdkconfig

