name: Build and Run Test Application Workflow

on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

permissions:
  checks: write
  contents: read

jobs:
  build_project:
    name: Build Project
    uses: ./.github/workflows/build_esp_app.yml

  test_in_wokwi:
    name: Test Project (Wokwi Simulation)
    uses: ./.github/workflows/test_in_wokwi.yml
    needs: build_project
    secrets:
      WOKWI_CLI_TOKEN: ${{ secrets.WOKWI_CLI_TOKEN }}
